:root
{
  --background-colour: #FFF3E6;
  --main-colour: #375197;
  --search:#ede4df;
  --search-input: #9ba8cb;
}

*
{
  margin: 0;
  padding: 0;
}

 html,body {
  font-family: Arial, sans-serif;
  background-color: var(--background-colour);
  height: 100%;
  width: 100%;
}

#root,.layout
{
  height: 100%;
  width: 100%;
}

.navbar
{
  background-color: var(--main-colour);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navbar ul li
{
  display: inline-block;
  padding: 5px;
}

.navbar ul p
{
  color: var(--background-colour);
}

.link
{
  color: var(--background-colour);
}

.filter-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  height: 4%;
}

.filter-container input
{
  background-color: var(--search);
  color: var(--search-input);
  border: 3px ridge;
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.filter-container input:focus
{
  outline:invert ;
  outline-color: var(--search);
}

.filter-container input::placeholder
{
  color: var(--main-colour);
}

.search-item-container
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.item
{
  width: 250px;
  height: 80px;
  background-color: var(--main-colour);
  color: var(--background-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.4s;
}

.item:hover
{
  height: 120px;
}

.poster-item-container
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.direction-item
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.direction
{
  width: 25%;
  padding: 15px;
  background-color: var(--search-input);
  display: flex;
  justify-content: center;
  color: var(--search);
  border: 1px ridge var(--search);
}

.show
{
  width: 50%;
}

.poster-page-list
{
width: 100%;
display: flex;
justify-content: center;
}

.poster-page-item
{
  margin: auto .7rem !important;
}

.poster-page
{
  width: 5%;
  background-color: var(--search-input);
  padding: 3px;
  border-radius: 5px;
}

.poster-item
{
  display: flex;
  justify-content: center;
}

.item-list
{
  display: flex;
}

.item-list-container
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.foreground-item-list
{
  display: flex;
}